<h2>Products</h2>

<div class="wrapper">

  <div *ngIf="selectedCategory">
    <h2>{{ selectedCategory }}</h2> 
    <div class="wrapper-item" *ngFor="let product of getProducts(selectedCategory)">
      <div *ngIf="product.imgURL" class="wrapper-item-img">
        <img src="{{product.imgURL}}" alt="">
      </div>
      <h3>
        <a
          [title]="product.name + ' details'"
          [routerLink]="['/categories/categoryId/Products/', product.id]">
          {{ product.name }}
        </a>
      </h3>

      <i [class]="product.liked ? 'fa fa-heart' : 'fa fa-heart-o'" (click)="toggleLike(product)">add to liked</i>
      <p *ngIf="product.rating"><b>Рейтинг:</b> {{ product.rating }}</p> 
      <p *ngIf="product.price">
          <b>Цена:</b> {{ formatedPrice(product.price) }} ₸
      </p>

      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>
     
      <button type="button" (click)="share(product.url)">
          Share
      </button>
      
      <app-product-alerts
        [product]="product" 
        (notify)="onNotify()">
       </app-product-alerts>
    </div>
   </div>
</div>
