html{
    min-width: max-content;
    height: 915px;
}
body {
    background: #fff;
    min-width: max-content;
    height: 915px;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    zoom:1
}

.content {
    margin: 0;
    padding: 0;
    height: 536px;
    padding-top: 72px;
    padding-bottom: 112px;
    background-color: #f0f2f5;
    width: 100%;
}

.hero {
    padding: 20px 0;
    margin: 0 auto;
    width: 980px;
    display: flex;
}

.hero__headers-header{
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    height: 286.075px;
    width: 400px;
    vertical-align: top;
}

.header__img {
    position: relative;
    padding: 112px 0 16px;
}

.facebook__logo{
    height: 106px;
    margin: -28px;
}

.header__text{
    font-size: 24px;
    line-height: 28px;
    width: 368px;
    height: 84px;
    padding-bottom: 20px;
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


.header__form{
    height: 496px;
    width: 396px;
    position: relative;
    margin-left: auto
}
.header__form-login{
    text-align: center;
    height: 456px;
}
.header__form-input{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(14, 1, 255, 0.1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.header__form_input-email{
    display: inline-block;
    font-size: 14px;
    margin: auto;
    padding: 6px 0;
    width: 364px;
}
.header__form_input-email-label{
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    width: 330px;
    padding: 14px 16px;
    border-radius: 6px
}

.header__form_input-password{
    display: inline-block;
    font-size: 14px;
    margin: auto;
    padding: 6px 0;
    width: 364px;
}

.header__form_input-password-label{
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    width: 330px;
    border-radius: 6px;
    padding: 14px 16px;
}

.header__form-input_button{
    padding-top: 6px;
}

.header__form-input_button1{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.header_form-input_forgot_password{
    margin-top: 16px;
}

.header_form-hr {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
} 
.header__form_new-account{
    padding-top: 6px;
}

.header__form_new-account_button {
    background-color: #42b72a;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    height: 48px;
    width: 199.413px;
    color: #fff;
    border-radius: 8px;
} 

.header__form-text{
    margin-top: 28px;
}


.footer__lang{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    align-items: center;
    /* position: relative; */
    width: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16.08px;
    grid-gap:10px;
    
    /* display: flex; */
}
.footer{
    padding-top: 20px
}

.footer__container_container{
    color: #737373;
    font-family: inherit;
    margin: 0 auto;
    width: 980px;
}
.footer__container_href{
    position: static;
    width: 980px;
}

.list__href{
    display: flex;
    flex-wrap: wrap;
    height: 76.8px;
}

.footer__meta{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
    font-family: inherit;
}

@media screen and (max-width: 980px) {
    .hero {
      width: 900px; 
      margin-left: 40px;
      margin-right: 40px;
    }

    .footer__container_container{
        width: 900px; 
        margin-left: 40px;
        margin-right: 40px;
    }
}